----------------------------------------------------------------------------------
※ このメールは「KING OF TIME 管理センター」からの自動送信メールです。
----------------------------------------------------------------------------------

マスター管理者名様

平素よりお世話になっております。​
KING OF TIMEサポートセンターです。

パスワード再設定のご要望を承りました。

▼▼▼以下のURLからパスワードの再設定を行ってください。▼▼▼
$url

※このメールにお心当たりがない方は、誤ってメールが送信された可能性があるため、お手数ですが破棄してください。